:root{
    --basicGreen:#3AB688;
    --basicPurple:#6B2F83;
    --basicDarkGray:#282E2C;
    --basicLightGray:#DDDDDD;
}

.purple{color: var(--basicPurple);}
.green{color: var(--basicGreen);}
.darkGray{color: var(--basicDarkGray);}
.lightGray{color: var(--basicLightGray);}
.shadow{box-shadow: 10px 9px 13px 0px rgba(0,0,0,0.18)
}
.font-14{font-size: 14px;}

* {
    padding: 0px;
    margin: 0px;
}

html,body{
    height: 100vh;
}

body {
    background-image: url('../images/layout/background_1.jpg');
    background-size: 100%;
    padding: 30px;   
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px 20px;
}

header nav ul li {
    color: #fff;
    list-style: none;
    font-size: 18px;
}

main{
    width: 100%;    
    display: flex;
    flex-direction: row;
}

.nav {flex: 1;border-radius: 30px 0px 0px 30px;background-image: url('../images/layout/fundo_nav.jpg');
    background-size: auto 100%; background-position: top;
}
.content{flex: 6;background-color: #fff;border-radius: 0px 30px 30px 0px;}
.textHome{
    padding: 150px 150px 75px 150px;
}

.coursesHome{
    padding: 0px 150px 75px 150px;
}
.listCourses{
    padding: 30px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}


.textHome h1 {
    font-size:4rem;
    line-height: 4rem;
}

.depoimentsHome{
 background-color: var(--basicDarkGray);
 padding: 0px 150px 75px 150px;

}
.metodologyHome{
 background-color: var(--basicLightGray);
 padding: 0px 150px 75px 150px;

}

h2{font-size:3rem;}