:root{
    --basicGreen:#5FC49E;
    --basicPurple:#6B2F83;
    --basicDarkGray:#282E2C;
    --basicLightGray:#DDDDDD;
}

.purple{color: var(--basicPurple);}
.green{color: var(--basicGreen);}
.darkGray{color: var(--basicDarkGray);}
.lightGray{color: var(--basicLightGray);}
.shadow{box-shadow: 10px 9px 13px 0px rgba(0,0,0,0.18)}
.gradiente{
    background: rgb(0,0,0);
    background: linear-gradient(357deg, rgba(0,0,0,0.3785889355742297) 0%, rgba(0,0,0,0) 41%, rgba(0,0,0,0) 63%, rgba(0,0,0,0.6811099439775911) 100%);}
.radius{border-radius: 15px;}
.margin-top-20{margin-top: 20px;}
.font-14{font-size: 14px;}
.font-16{font-size: 16px;}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body{

    padding: 0;
    margin: 0;

}

body {
    background-image: url('../images/layout/background_1.jpg');
    background-size: 100%;   
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.logo{padding-left: 15px;}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px 20px;
    box-sizing: border-box;
}

header nav ul li {
    color: #fff;
    list-style: none;
    font-size: 18px;
}

#content{
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
   
}
main{
    width: 100%;
   min-height: 100% !important;
    display: flex;
    flex-direction: row; 
    flex: 1;
    border-radius: 15px;
  


}

.inLogin{
    width: 100%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}
button{
    background-color: var(--basicDarkGray);color: #fff;padding: 15px;border: none;margin-top: 30px;
}

.nav {width: 325px;border-radius: 15px 0px 0px 15px;background-image: url('../images/layout/fundo_nav.jpg');
    background-size: auto 100%; background-position: top;
}
.content{flex: 6;background-color: #fff;border-radius: 0px 15px 15px 0px;}
.contentlogin{background-image: url('../images/layout/fundo_nav.jpg');background-size: 100%;   ;display: flex;justify-content: center;align-items: center;border-radius: 15px;height:auto;width: 100%;}
.contentlogin .login{
    background-color: #fff;height: 250px;width: 250px;border-radius: 10px;
}
.textHome{
    padding: 150px 150px 50px 150px;
}

.coursesHome{
    padding: 0px 150px 75px 150px;
}
.listCourses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 30px 0;
}
.blCourseImg{height: 250px;}
.listCourses .label{padding: 20px;background-color: var(--basicLightGray);border-radius:0px 0px 10px 10px;}
.listCourses .ratedPriceCourses{display: flex;justify-content: space-between;align-items: center;}
.blCourseImg img{width: 100%;height: 250px;border-radius: 10px 10px 0px 0px;}


.textHome h1 {
    font-size:4rem;
    line-height: 4rem;
}

.depoimentsHome{
 background-color: var(--basicDarkGray);
 padding: 75px 150px 75px 150px;

}
.metodologyHome{
 background-color: var(--basicLightGray);
 padding: 75px 150px 75px 150px;

}

h2{font-size:3rem;line-height:2rem;margin-bottom:20px;}

footer {
    padding: 20px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
}